--
-- PostgreSQL database dump
--

\restrict 4IrG45NYmdKeadL3urJ02Cu4jDfcUzDCN7p9pLFYuyX5OqeclX60zd939c7FFKc

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: booking_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.booking_status_enum AS ENUM (
    'confirmed',
    'cancelled'
);


ALTER TYPE public.booking_status_enum OWNER TO postgres;

--
-- Name: reported_events_status_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.reported_events_status_enum AS ENUM (
    'pending',
    'rejected',
    'resolved'
);


ALTER TYPE public.reported_events_status_enum OWNER TO postgres;

--
-- Name: ticket_types_name_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.ticket_types_name_enum AS ENUM (
    'vip',
    'regular',
    'early_bird'
);


ALTER TYPE public.ticket_types_name_enum OWNER TO postgres;

--
-- Name: users_role_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.users_role_enum AS ENUM (
    'admin',
    'organizer',
    'attendee'
);


ALTER TYPE public.users_role_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendee_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendee_profiles (
    id integer NOT NULL,
    preferences text,
    bio character varying,
    "avatarUrl" character varying,
    user_id integer
);


ALTER TABLE public.attendee_profiles OWNER TO postgres;

--
-- Name: attendee_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attendee_profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.attendee_profiles_id_seq OWNER TO postgres;

--
-- Name: attendee_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attendee_profiles_id_seq OWNED BY public.attendee_profiles.id;


--
-- Name: booking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.booking (
    id integer NOT NULL,
    quantity integer NOT NULL,
    "totalPrice" numeric NOT NULL,
    status public.booking_status_enum DEFAULT 'confirmed'::public.booking_status_enum NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    user_id integer,
    ticket_type_id integer
);


ALTER TABLE public.booking OWNER TO postgres;

--
-- Name: booking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.booking_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.booking_id_seq OWNER TO postgres;

--
-- Name: booking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.booking_id_seq OWNED BY public.booking.id;


--
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    id integer NOT NULL,
    title character varying NOT NULL,
    description text NOT NULL,
    "bannerImageUrl" character varying DEFAULT 'https://upload.wikimedia.org/wikipedia/en/5/5d/AKIRA_%281988_poster%29.jpg'::character varying NOT NULL,
    "teasorVideoUrl" character varying,
    location character varying NOT NULL,
    category character varying NOT NULL,
    "startDateTime" timestamp with time zone NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    organizer_id integer,
    capacity integer,
    "isBlocked" boolean DEFAULT false
);


ALTER TABLE public.events OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.events_id_seq OWNER TO postgres;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.events_id_seq OWNED BY public.events.id;


--
-- Name: organizer_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizer_profiles (
    id integer NOT NULL,
    "organizationName" character varying,
    website character varying,
    bio character varying,
    "isApproved" boolean DEFAULT false NOT NULL,
    user_id integer
);


ALTER TABLE public.organizer_profiles OWNER TO postgres;

--
-- Name: organizer_profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.organizer_profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.organizer_profiles_id_seq OWNER TO postgres;

--
-- Name: organizer_profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.organizer_profiles_id_seq OWNED BY public.organizer_profiles.id;


--
-- Name: reported_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reported_events (
    id integer NOT NULL,
    reason text NOT NULL,
    status public.reported_events_status_enum NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    reported_by_user integer,
    event_id integer
);


ALTER TABLE public.reported_events OWNER TO postgres;

--
-- Name: reported_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reported_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reported_events_id_seq OWNER TO postgres;

--
-- Name: reported_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reported_events_id_seq OWNED BY public.reported_events.id;


--
-- Name: reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reviews (
    id integer NOT NULL,
    rating integer NOT NULL,
    comment text,
    "mediaUrls" jsonb,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    user_id integer,
    event_id integer
);


ALTER TABLE public.reviews OWNER TO postgres;

--
-- Name: reviews_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reviews_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reviews_id_seq OWNER TO postgres;

--
-- Name: reviews_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reviews_id_seq OWNED BY public.reviews.id;


--
-- Name: ticket_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ticket_types (
    id integer NOT NULL,
    name public.ticket_types_name_enum DEFAULT 'regular'::public.ticket_types_name_enum NOT NULL,
    "seatLimit" integer NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL,
    event_id integer,
    price integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.ticket_types OWNER TO postgres;

--
-- Name: ticket_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ticket_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ticket_types_id_seq OWNER TO postgres;

--
-- Name: ticket_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ticket_types_id_seq OWNED BY public.ticket_types.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    "passwordHash" character varying NOT NULL,
    role public.users_role_enum NOT NULL,
    "createdAt" timestamp without time zone DEFAULT now() NOT NULL,
    "updatedAt" timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: attendee_profiles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendee_profiles ALTER COLUMN id SET DEFAULT nextval('public.attendee_profiles_id_seq'::regclass);


--
-- Name: booking id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking ALTER COLUMN id SET DEFAULT nextval('public.booking_id_seq'::regclass);


--
-- Name: events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events ALTER COLUMN id SET DEFAULT nextval('public.events_id_seq'::regclass);


--
-- Name: organizer_profiles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizer_profiles ALTER COLUMN id SET DEFAULT nextval('public.organizer_profiles_id_seq'::regclass);


--
-- Name: reported_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reported_events ALTER COLUMN id SET DEFAULT nextval('public.reported_events_id_seq'::regclass);


--
-- Name: reviews id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews ALTER COLUMN id SET DEFAULT nextval('public.reviews_id_seq'::regclass);


--
-- Name: ticket_types id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_types ALTER COLUMN id SET DEFAULT nextval('public.ticket_types_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: attendee_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.attendee_profiles (id, preferences, bio, "avatarUrl", user_id) VALUES (1, NULL, NULL, 'https://www.google.com/url?sa=i&url=https%3A%2F%2Favatar-placeholder.iran.liara.run%2F&psig=AOvVaw0aRjEj1QTtTCQcQ69jgd0L&ust=1764927055774000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNiGzOXPo5EDFQAAAAAdAAAAABAE', 3);
INSERT INTO public.attendee_profiles (id, preferences, bio, "avatarUrl", user_id) VALUES (3, 'tech, music, finance', '[Name] is a [role/title] at [organization], where they work on [what you do]. TheyÔÇÖre especially interested in [themes aligned with event] and love exchanging ideas with people who build and challenge the status quo. Outside work, [light personal detail: hiking, reading sci-fi, coffee enthusiast, etc.]. TheyÔÇÖre thrilled to be at [event name] to [purpose].', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtb2ps4gYYHa5dwBB49DJGsUbQWVbtGAZHeQ&s', 5);
INSERT INTO public.attendee_profiles (id, preferences, bio, "avatarUrl", user_id) VALUES (2, 'tech, music, finance', '[att1] is a [role/title] at [organization], where they work on [what you do]. TheyÔÇÖre especially interested in [themes aligned with event] and love exchanging ideas with people who build and challenge the status quo. Outside work, [light personal detail: hiking, reading sci-fi, coffee enthusiast, etc.]. TheyÔÇÖre thrilled to be at [event name] to [purpose].', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtb2ps4gYYHa5dwBB49DJGsUbQWVbtGAZHeQ&s', 4);


--
-- Data for Name: booking; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.booking (id, quantity, "totalPrice", status, "createdAt", user_id, ticket_type_id) VALUES (6, 10, 10000, 'confirmed', '2025-12-07 14:42:27.059614', 3, 75);
INSERT INTO public.booking (id, quantity, "totalPrice", status, "createdAt", user_id, ticket_type_id) VALUES (7, 20, 36000, 'confirmed', '2025-12-07 14:42:36.34093', 3, 72);
INSERT INTO public.booking (id, quantity, "totalPrice", status, "createdAt", user_id, ticket_type_id) VALUES (8, 50, 100000, 'confirmed', '2025-12-07 14:43:05.294173', 3, 74);


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.events (id, title, description, "bannerImageUrl", "teasorVideoUrl", location, category, "startDateTime", "updatedAt", organizer_id, capacity, "isBlocked") VALUES (65, 'The Shawshank Redemption', 'A banker convicted of uxoricide forms a friendship over a quarter century with a hardened convict, while maintaining his innocence and trying to remain hopeful through simple compassion.', 'https://upload.wikimedia.org/wikipedia/en/5/5d/AKIRA_%281988_poster%29.jpg', NULL, 'Mumbai', 'tech', '2025-12-20 07:30:00+05:30', '2025-12-07 14:06:23.524931', 1, 600, false);
INSERT INTO public.events (id, title, description, "bannerImageUrl", "teasorVideoUrl", location, category, "startDateTime", "updatedAt", organizer_id, capacity, "isBlocked") VALUES (68, 'The Godfather Part II', 'The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.', 'https://upload.wikimedia.org/wikipedia/en/5/5d/AKIRA_%281988_poster%29.jpg', NULL, 'Delhi', 'sports', '2026-01-10 12:00:00+05:30', '2025-12-07 14:10:21.032396', 1, 400, false);
INSERT INTO public.events (id, title, description, "bannerImageUrl", "teasorVideoUrl", location, category, "startDateTime", "updatedAt", organizer_id, capacity, "isBlocked") VALUES (71, 'Schindler''s List', 'In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis', 'https://upload.wikimedia.org/wikipedia/en/5/5d/AKIRA_%281988_poster%29.jpg', NULL, 'Bangalore', 'sports', '2025-12-23 15:00:00+05:30', '2025-12-07 14:13:09.210078', 1, 498, false);


--
-- Data for Name: organizer_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.organizer_profiles (id, "organizationName", website, bio, "isApproved", user_id) VALUES (1, NULL, NULL, 'org1 bio', true, 1);
INSERT INTO public.organizer_profiles (id, "organizationName", website, bio, "isApproved", user_id) VALUES (2, 'Apple', 'https://www.apple.com/', '[Name] is a [role/title] at [organization] with [X years/experience] in [field]. Their work centers on [specialty], with particular interest in [topic]. They enjoy [relevant activity: mentoring, building communities, speaking, writing, etc.]. At [event name], theyÔÇÖre looking forward to [networking/learning/collaboration].', true, 6);
INSERT INTO public.organizer_profiles (id, "organizationName", website, bio, "isApproved", user_id) VALUES (4, 'organization4', 'org5@google.com', 'organization 5''s bio', true, 8);


--
-- Data for Name: reported_events; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.reported_events (id, reason, status, "createdAt", reported_by_user, event_id) VALUES (2, 'bad event', 'resolved', '2025-12-08 15:08:41.746589', 4, 96);


--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ticket_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.ticket_types (id, name, "seatLimit", "createdAt", "updatedAt", event_id, price) VALUES (11, 'regular', 500, '2025-12-07 14:04:48.246354', '2025-12-07 14:04:48.246354', 65, 400);
INSERT INTO public.ticket_types (id, name, "seatLimit", "createdAt", "updatedAt", event_id, price) VALUES (12, 'vip', 100, '2025-12-07 14:04:48.251866', '2025-12-07 14:04:48.251866', 65, 1000);
INSERT INTO public.ticket_types (id, name, "seatLimit", "createdAt", "updatedAt", event_id, price) VALUES (13, 'regular', 250, '2025-12-07 14:06:11.17403', '2025-12-07 14:06:11.17403', 66, 600);


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.users (id, name, email, "passwordHash", role, "createdAt", "updatedAt") VALUES (1, 'organizer1', 'organizer1@gmail.com', '$2b$10$a/DnEdMsp9am5Zv5FmPDB.HFBhIZHWxF92ZcR92Ex3zIwYdPjdOpi', 'organizer', '2025-11-30 14:45:13.450738', '2025-11-30 14:45:13.450738');
INSERT INTO public.users (id, name, email, "passwordHash", role, "createdAt", "updatedAt") VALUES (2, 'Admin', 'admin@gmail.com', '$2b$10$2t9ap0b6TAwAl5Ov4W87q.8YNmhqRGvzAQZtfY0uxzSC9TZIXWyfm', 'admin', '2025-11-30 15:01:40.181765', '2025-11-30 15:01:40.181765');
INSERT INTO public.users (id, name, email, "passwordHash", role, "createdAt", "updatedAt") VALUES (3, 'attendee1', 'attendee1@gmail.com', '$2b$10$FPOHco663ksxGSuXcTGAieNQ7o64a5dbZu1yUxprUHQ/F9fGLo5mS', 'attendee', '2025-12-02 15:14:53.294057', '2025-12-02 15:14:53.294057');


--
-- Name: attendee_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attendee_profiles_id_seq', 3, true);


--
-- Name: booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.booking_id_seq', 19, true);


--
-- Name: events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.events_id_seq', 98, true);


--
-- Name: organizer_profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.organizer_profiles_id_seq', 8, true);


--
-- Name: reported_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reported_events_id_seq', 2, true);


--
-- Name: reviews_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reviews_id_seq', 3, true);


--
-- Name: ticket_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ticket_types_id_seq', 76, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 12, true);


--
-- Name: reviews PK_231ae565c273ee700b283f15c1d; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "PK_231ae565c273ee700b283f15c1d" PRIMARY KEY (id);


--
-- Name: events PK_40731c7151fe4be3116e45ddf73; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT "PK_40731c7151fe4be3116e45ddf73" PRIMARY KEY (id);


--
-- Name: attendee_profiles PK_427364f6b58f0481ef95cd169e7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendee_profiles
    ADD CONSTRAINT "PK_427364f6b58f0481ef95cd169e7" PRIMARY KEY (id);


--
-- Name: booking PK_49171efc69702ed84c812f33540; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT "PK_49171efc69702ed84c812f33540" PRIMARY KEY (id);


--
-- Name: ticket_types PK_5510ce7e18a4edc648c9fbfc283; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_types
    ADD CONSTRAINT "PK_5510ce7e18a4edc648c9fbfc283" PRIMARY KEY (id);


--
-- Name: organizer_profiles PK_8e09aa532f012ff2298b819c04a; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizer_profiles
    ADD CONSTRAINT "PK_8e09aa532f012ff2298b819c04a" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: reported_events PK_ae1a3ff839498caf484a714f504; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reported_events
    ADD CONSTRAINT "PK_ae1a3ff839498caf484a714f504" PRIMARY KEY (id);


--
-- Name: organizer_profiles REL_ea845db509307bc33365054eac; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizer_profiles
    ADD CONSTRAINT "REL_ea845db509307bc33365054eac" UNIQUE (user_id);


--
-- Name: attendee_profiles UQ_79380821604bb2b801d16186863; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendee_profiles
    ADD CONSTRAINT "UQ_79380821604bb2b801d16186863" UNIQUE (user_id);


--
-- Name: users UQ_97672ac88f789774dd47f7c8be3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_97672ac88f789774dd47f7c8be3" UNIQUE (email);


--
-- Name: events FK_14c9ce53a2c2a1c781b8390123e; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT "FK_14c9ce53a2c2a1c781b8390123e" FOREIGN KEY (organizer_id) REFERENCES public.users(id);


--
-- Name: reported_events FK_248720c1226587597b813c7d6d9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reported_events
    ADD CONSTRAINT "FK_248720c1226587597b813c7d6d9" FOREIGN KEY (reported_by_user) REFERENCES public.users(id);


--
-- Name: booking FK_276896d1a1a30be6de9d7d43f53; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT "FK_276896d1a1a30be6de9d7d43f53" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: reviews FK_728447781a30bc3fcfe5c2f1cdf; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "FK_728447781a30bc3fcfe5c2f1cdf" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: attendee_profiles FK_79380821604bb2b801d16186863; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendee_profiles
    ADD CONSTRAINT "FK_79380821604bb2b801d16186863" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: ticket_types FK_9dfa62b35548ea1e0b7e4675b20; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ticket_types
    ADD CONSTRAINT "FK_9dfa62b35548ea1e0b7e4675b20" FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;


--
-- Name: booking FK_a6c0f889465cf9cc4724cb95c55; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.booking
    ADD CONSTRAINT "FK_a6c0f889465cf9cc4724cb95c55" FOREIGN KEY (ticket_type_id) REFERENCES public.ticket_types(id) ON DELETE CASCADE;


--
-- Name: reviews FK_aa7772d94b254e2fc02d6724935; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT "FK_aa7772d94b254e2fc02d6724935" FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;


--
-- Name: reported_events FK_b853abf02ca48e17dd38ba6ea81; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reported_events
    ADD CONSTRAINT "FK_b853abf02ca48e17dd38ba6ea81" FOREIGN KEY (event_id) REFERENCES public.events(id) ON DELETE CASCADE;


--
-- Name: organizer_profiles FK_ea845db509307bc33365054eacc; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizer_profiles
    ADD CONSTRAINT "FK_ea845db509307bc33365054eacc" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 4IrG45NYmdKeadL3urJ02Cu4jDfcUzDCN7p9pLFYuyX5OqeclX60zd939c7FFKc

